/*
 * The CSS is sorted in the following manner
 * 
 * font declarations
 * element selectors
 * general class selectors
 * general id selectors
 * index.html styling
 * meditations.html styling
 * posts.html styling
 * report.html styling
 * thich-nhat-hanh.html styling
 * tools.html styling
 * under-construction.html styling
 */

/* ==========================================================================
font declarations
========================================================================== */

/* Poppins import
========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

/* ==========================================================================
element selectors
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Remove some basic browser styles to stop potential clashes */
* {
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Ensure a tags have no styling by default */
a {
    text-decoration: none;
}

/* Give images a cover property to ensure they fill their parent containers properly */
img {
    object-fit: cover;
}

/* Ensure footer and header have similar color styling */
footer, header {
    background-color: #716fc1;
    color: #fff;
    margin: 0px auto;
    width: 100%;
}

header {
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}

/* Set color and size for hr used in footer */
hr {
    color: #0d0d17;
    margin: 0px;
    width: 100%;
}

/* Ensure nav anchor tags are white */
nav a {
    color: #fff;
}

/* Change nav links to a darker purple upon hover */
nav a:hover {
    color: #0d0d17;
}

/* For any buttons with this class ensure they are displayed properly in the nav section */
.navButton {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    height: 30px;
    width: 30px;
}

/* Ensure mouse changes to pointer when hovering over form elements */
input:hover, select:hover, button:hover {
    cursor: pointer;
}

/* element selectors | small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* Most code here just ensure's the text is off sufficient size */
    * {
        font-size: 4vw;
    }

    footer {
        padding: 10px 20px;
    }

    footer nav a {
        font-size: 3.5vw;
    }

    footer p {
        text-align: center;
    }

    h1 {
        font-size: 7vw;
        text-align: center;
    }

    h2 {
        font-size: 6vw;
        text-align: center;
    }

    h3 {
        font-weight: 1000;
        font-size: 5vw;
        text-align: center;
    }

    h4 {
        font-weight: 500;
        font-size: 4.5vw;
        text-align: center;
    }

    h5 {
        font-size: 4.5vw;
        text-align: center;
    }

    /* Adjust the size to be larger here for proper hamburger menu display */
    header nav a {
        font-size: 6vw;
    }
}

/* element selectors | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* Most code here just ensure's the text is off sufficient size */
    * {
        font-size: 1.5vw;
    }

    footer{
        padding: 20px 100px;
    }

    h1 {
        font-size: 3.5vw;
        text-align: center;
    }

    h2 {
        font-size: 2.5vw;
        text-align: center;
    }

    h3 {
        font-weight: 1000;
        font-size: 2vw;
        text-align: center;
    }

    h4 {
        font-weight: 500;
        font-size: 1.75vw;
        text-align: center;
    }

    nav a {
        font-size: 1.75vw;
    }
}

/* ==========================================================================
general class selectors
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Create flexColumn and flexRow classes to allow for easy flex application to basic elements */
.flexColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexRow {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Give any header images a hard coded height to help with sizing */
.headerImage {
    height: 30px;
    width: 30px;
}

/* If an image has an anchor tag around it, ensure it is a flex item and give it a bottom margin of 10px */
.imageA {
    display: flex;
    margin-bottom: 10px;
}

.darkPurpleBackground {
    background-color: #3f3e6c;
}

/* Style the left div for the search header. This ensure's the search this page text is centered */
.leftEmptyDiv {
    height: 30px;
    width: 30px;
}

/* Style the anchor tag surrounding the websites logo */
.logoA {
    display: flex;
}

.pageIntro > * {
    text-align: center;
}

/* Ensure any of the search results have sufficient spacing between them */
.result {
    margin: 10px 0px;
}

/* When applied to the search container it will hide it from user view */
.searchContainerHide {
    transform: translateX(-100%);
}

/* Show's the search container when javascript applied this to it */
.searchContainerShow {
    transform: translateX(0px);
}

/* Add opacity to items with this class */
.seeThrough {
    opacity: .5;
}

/* Styling for standard articles, meditation articles and report articles. Creates the light purple background card */
.standardArticle, .reportArticle, .meditationArticle {
    background-color: #e2e2ef;
    border: 1px solid #716fc1;
    margin: 40px 0px;
    padding: 20px;
    box-shadow: 5px 5px 5px #716fc1;
}

/* Ensure color is black for most elements in standard article containers */
.standardArticle > div {
    color: black;
}

/* Style the author info and date info on standard articles */
.standardArticle > div > p:nth-last-of-type(-n+2) {
    font-style: italic;
}

.standardArticle h3 {
    color: #000;
}

/* Help the user identify that the header is a link when hovering */
.standardArticle h3:hover {
    color: #716fc1;
}

/* Ensure the standard article image behaves correctly */
.standardArticle img {
    border-radius: 20px;
    height: auto;
    width: 100%;
}

/* To go in standard boxes to help format the margin on the top and bottom elements */
.standardFirst {
    margin-top: 0px;
}

.standardLast {
    margin-bottom: 0px;
}

/* general class selector | small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* Ensure hamburger menu items have sufficient spacing */
    .headerNavBar > *{
        margin: 10px;
    }

    /* Apply an animation for the hamburger menu to slide away. Make it a little faster to enable quicker navigation */
    .hideHeaderNav {
        transition: transform .5s;
    }

    /* Ensure the hamburger menu takes up the full screen and displays in a easy to digest manner */
    .headerNavBar {
        align-items: flex-end;
        background: #716fc1;
        bottom: 0;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 30px 50px;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 5;
    }

    /* Ensure any items with class large are not displayed */
    .large {
        display: none;
    }

    /* Shows the header nav when JS applies this class to it */
    .showHeaderNav {
        transform: translateX(0px);
        transition: transform 1s;
    }

    /* Ensures standard article displays in a column manner for smaller devices */
    .standardArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .standardArticle > div {
        align-items: center;
    }

    .standardArticle > div > p {
        margin: 10px 0px;
    }

    /* Ensure the article information has space between it and the header */
    .standardArticle p:first-of-type {
        margin-top: 10px;
        text-align: center;
    }

    /* Give h3 a constant color of purple with an underline to help show it is a link */
    .standardArticle h3 {
        color: #716fc1;
        text-align: center;
        text-decoration: underline;
    }

    /* Get standard boxes to display in a correct manner for smaller devices */
    .standardBox {
        padding: 20px 20px;
    }

    .standardBox > * {
        margin: 10px 0px;
    }
}

/* general class selector | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* On desktop screen show clickable images with a low opacity, then increase it when hovering over image */
    .imageA img {
        opacity: .5;
    }
    
    .imageA img:hover {
        opacity: 1;
    }

   /* Ensure any items with class small are not displayed */
    .small {
        display: none;
    }

    .standardArticle {
        display: flex;
        justify-content: center;
        width: 75%;
    }

    /* When a mouse goes over an article increase it's size to help focus on the article */
    .standardArticle:hover {
        transform: scale(1.02);
        transition: transform 250ms;
    }

    /* Ensure anchor tags correctly wrap images and headers in standard articles */
    .standardArticle > a {
        height: auto;
        margin-right: 10px;
        width: 50%;
    }

    .standardArticle > div {
        align-items: flex-start;
        margin-left: 10px;
        width: 50%;
    }

    /* Ensure separation between the header and info in a standard article */
    .standardArticle p:first-of-type {
        margin: 10px 0px;
    }

    .standardBox {
        padding: 20px 100px;
    }

    .standardBox > * {
        margin: 10px 0px;
    }
}

/* ==========================================================================
general id selectors
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Ensure footer logo has a height of 120px to help with sizing */
#footerLogo {
    height: 120px;
    width: auto;
}

#footerNav {
    width: 100%;
}

/* Make the hamburger button stay in the same place for easy manipulation */
#hamburgerButton {
    position: relative;
    z-index: 6;
}

/* Ensure footer logo has a height of 60px to help with sizing */
#headerLogo {
    height: 60px;
    width: auto;
}

/* Assign background image to meditations page */
#meditationsBody {
    background-image: url('../images/meditations-images/background.jpg');
}

/* Make the background color slightly see through to help sure background image on these pages */
#postsMain, #toolsMain, #meditationsMain {
    background-color: rgba(255, 255, 255, 0.783);
}

/* Set the body elements to have a background image that is centered */
#postsBody, #toolsBody, #meditationsBody {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Set posts body background image */
#postsBody {
    background-image: url('../images/posts-images/background.jpg');
}

/* Ensure the results container shows the results properly in a column format */
#results {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#results a {
    color: #c0c16f;
}

#results a:hover {
    color: #c0c16f;
    text-decoration: underline;
}

#results h3 {
    text-align: center;
    width: 100%;
}

/* Style the search bar in a manner that blends it with the container and maintains a constant space */
#searchBar {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #FFF;
    border-radius: 10px;
    color: #FFF;
    min-height: 10%;
    padding: 0px 10px;
}

/* Ensure proper display for the search box */
#searchBox {
    background-color: #716fc1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#searchBox > * {
    margin: 10px 0px;
}

/* Stye the search container and blur the web page out to help focus the user on the search box */
#searchContainer {
    align-items: center;
    backdrop-filter: blur(5px);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

#searchHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Set tools body background image */
#toolsBody {
    background-image: url('../images/tools-images/background.jpg');
}

/* general id | small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* Make the search box take up more space on smaller devices */
    #searchBox {
        height: 80%;
        width: 90%;
    }
}

/* general id | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* Ensure the hamburger button does not show on larger devices */
    #hamburgerButton {
        display: none;
    }

    /* When the header nav is visible ensure it fills it's space correctly */
    #headerNav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    /* Give the search box a correct size for larger devices */
    #searchBox {
        height: 80%;
        width: 40%;
    }
}

/* ==========================================================================
index.html styling
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Ensure elevator pitch container has centered tex */
#elevatorPitch p {
    text-align: center;
}

/* Create page banner container that will hold introductory background image */
#pageBanner {
    background-image: url(".././images/page-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}

/* Styles the text blurb in page banner. */
#pageBannerText {
    background-color: #706fc1bd;
    border-radius: 75px;
    padding: 20px;
    text-align: center;
}

#pageBannerText > * {
    color: #fff;
}

/* Style podcast buttons to have a matching background to container and consistent sizing */
.podcastButton {
    background-color: #e2e2ef;
    display: flex;
    height: 100%;
    padding: 5px;
    width: 100%;
}

/* Respond to the users mouse when it hovers over podcast buttons */
.podcastButton:hover, .podcastButton:focus {
    box-shadow: 0px 2px 2px #000;
}

/* ENsure podcast button images fill container */
.podcastButton img {
    height: 100%;
    width: 100%;
}

/* Ensure podcast header stays in middle of container */
#podcastHeader {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

/* Apply a pseudo class to the podcast header to create lines going to the edge of the container creating a separating effect */
#podcastHeader::after {
    border-bottom: 1px solid black;
    content: '';
    height: 1px;
    width: 30%;
}

#podcastHeader::before {
    border-bottom: 1px solid black;
    content: '';
    height: 1px;
    width: 30%;
}

/* Add colour and padding to podcast container */
#podcastInfo {
    background-color: #e2e2ef;
    padding-bottom: 30px;
}

/* Ensure each podcast option has a consistent size and correct display for the label */
.podcastOption {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin: 10px;
    width: 60px;
}

#podcastOptions {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

/* Apply visual distinction for the poll to highlight that it is an interactive element */
#poll {
    background-color: #716fc1;
    border-radius: 25px;
    box-shadow: 0px 15px 15px #706fc16f;
    padding: 20px;
    width: 70%;
}

/* Ensure each item of the poll displays con the left hand side */
#poll ol {
    align-items: left;
    display: flex;
    flex-direction: column;
}

/* Ensure no standard styles make it through on the poll list items */
#poll ol li{
    list-style: none;
    margin: 10px 0px;
}

/* Style the poll button to have a slight visual distinction from background */
.pollButton {
    background-color: #716fc1;
    border: 2px solid #0d0d17;
    padding: 5px;
    width: fit-content;
}

/* Help the user see the buttons are interactive with hover affects */
.pollButton:hover, .pollButton:active {
    background-color: #e2e2ef;
    border: 2px solid #0d0d17;
    padding: 5px;
    width: fit-content;
}

/* Class to hide the poll buttons once one is pressed */
.pollButtonHide {
    display: none;
}

/* Background container to give poll it's own space */
.pollContainer {
    background-color: #e2e2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ensure the poll's response div's have visual distinction with a black border and standard sizing */
.pollResponseBacking {
    border: 2px solid #000;
    height: 50px;
    padding-right: 5px;
    width: 100%;
}

/* 
* When the user clicks on the poll button the buttons will be hidden and this class will be applied. It will grow to what percent of the poll has selected that button */
.pollNoResults {
    align-items: center;
    background-color: #000;
    color: #716fc1;
    display: flex;
    justify-content: end;
    width: 0%;
    height: 100%;
    overflow: hidden;
    padding-right: 5px;
    transition: width 3s;
}

.pollNoResults p {
    width: fit-content;
}

/* curve the rotate slides image borders and ensure no margin is applied */
.rotateLinks img{
    border-radius: 20px;
    margin: 0px;
}

/* Help the slides take up all their space and maintain a automatic height */
.slides {
    width: 100%;
    height: auto;
}

/* index.html | small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* For smaller screen help ensure the page banner takes up a good amount of space and the text bubble fits well */
    #pageBanner {
        height: 400px;
        align-items: flex-end;
        padding: 10px 20px;
    }

    /* Ensure text bubble takes up all it's given width */
    #pageBannerText {
        width: 100%;
    }

    /* Apply the shadow for smaller devices to show that it is touchable */
    .podcastButton {
        box-shadow: 0px 2px 2px #000;
    }
    
    /* Adjust the sizing of these lines for better display on smaller devices */
    #podcastHeader::after {
        width: 10%;
    }

    #podcastHeader::before {
        width: 10%;
    }

    #podcastOptions {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* Adjust the width of the poll to take up more screen room for smaller devices */
    #poll {
        width: 80%;
    }

    /* On smaller devices let the spotlight images overflow for the user to scroll horizontally */
    .rotateLinks {
        overflow-x: scroll;
        white-space: nowrap;
    }

    .rotateLinks a {
        margin: 0px 10px;
    }

    /* Make the spotlight links half the screen size */
    .rotateLinks img {
        width: 50%;
        height: auto;
    }
}

/* index.html | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* For larger screen help ensure the page banner takes up a good amount of space and the text bubble fits well */
    #pageBanner {
        align-items: flex-end;
        height: 500px;
        justify-content: flex-start;
        padding: 20px 100px;
    }

    /* Give the text bubble an offset size for a unique banner look */
    #pageBannerText {
        width: 65%;
    }

    .rotateLinks {
        display: flex;
        justify-content: space-between;
    }

    .rotateLinks a {
        display: flex;
        height: max-content;
        margin: 0px 10px;
    }

    /* 
    * For the spotlight links make them see through when not hovering over them. 
    * Also ensure they take up their parent container
    */
    .rotateLinks img {
        max-height: 100%;
        max-width: 100%;
        opacity: .5;
    }

    /* When the user hovers over the spotlight links translate them up and make them fully opaque. Adding some interactivity */
    .rotateLinks img:hover {
        box-shadow: 0px 15px 15px #706fc158;
        opacity: 1;
        transform: translateY(-10px);
        transition: transform 250ms;
    }
}

/* ==========================================================================
meditations.html styling
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Give the donations container and sales container a distinct look compared to the articles to help the user separate them */
.donations, .meditationSalesContainer {
    background-color: #716fc1;
    border: 2px solid #e2e2ef;
    box-shadow: 5px 5px 5px #e2e2ef;
    display: flex;
    padding: 20px;
    width: 100%;
}

.donations {
    align-items: center;
    flex-direction: column;
}

/* Ensure the donations children have a centering appearance to them */
.donations > * {
    color: #e2e2ef;
    margin: 10px;
    text-align: center;
}

/* Ensure iFrames take up all available space */
.iFrameContainer iframe {
    max-height: 100%;
    width: 100%;
}

.salesLeft, .salesRight {
    padding: 10px;
}

.salesLeft img, .salesRight img {
    width: 80%;
    height: 40%;
}

/* Ensure meditation article takes up all space and has some margin to not cramp the screen */
.meditationArticle {
    display: flex;
    margin: 20px 0px;
    width: 100%;
}

.meditationArticleInfo h3 {
    text-align: center;
}

/* Give some visual distinction to the buttons on the meditation page and ensure there is an animation when the user hovers over them */
.meditationButton {
    background-color: #4240b9;
    border: 3px solid #e2e2ef;
    color: #e2e2ef;
    margin: 10px;
    padding: 10px;
    transition: background-color 1s, border 1s, color 1s;
}

/* Apply colour change to buttons that are hovered over */
.meditationButton:hover {
    background-color: #e2e2ef;
    border: 3px solid #4240b9;
    color: #4240b9;
}

.meditationSalesContainer {
    display: flex;
    justify-content: space-between;
}

/* Ensure this containers children display in similar manners */
.meditationSalesContainer > * {
    align-items: center;
    background-color: #e2e2ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 50%;
}

/* Ensure all children of the meditation containers display their text in a centered fashion */
.meditationSalesContainer > * > *{
    margin: 10px 0px;
    text-align: center;
}

/* meditations.html | small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* CHange the meditation articles to a column display for easier viewing on smaller devices */
    .meditationArticle {
        flex-direction: column;
    }

    /* ENsure the article header has space between that and the info */
    .meditationArticleInfo p {
        padding-top: 10px;
    }

    /* Center align the text blurb */
    .meditationArticleInfo p:first-of-type {
        text-align: center;
    }
}

/* meditations.html | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* Ensure Iframe only takes up 60% of container */
    .iFrameContainer {
        width: 60%;
    }

    /* Force the iframe to take up all of it's container */
    .iFrameContainer iframe {
        height: 100%;
    }

    /* Force the info to take up rest of container space */
    .meditationArticleInfo {
        width: 40%;
    }

    /* Ensure there is visual separation between text elements */
    .meditationArticleInfo p {
        padding-top: 20px;
        padding-left: 20px;
    }
}

/* ==========================================================================
posts.html styling
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

.articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make the intro photo link round */
.photoLink img {
    border-radius: 500px;
    width: 100%;
}

/* Give the popular list a little more visual separation from the background */
#popularPostsList li {
    color: #716fc1;
    margin: 20px 0px;
}

/* Force the number of the list to go purple as well and have no decoration */
#popularPostsList li {
    text-decoration: none;
    color: #716fc1;
}

/* When the user hovers over a popular post link a underline should appear and it's color should change to help indicate it's a link */
#popularPostsList li:hover, #popularPostsList li a:hover{
    text-decoration: underline;
    color: #0d0d17;
}

/* Help visualize the separation between the headings and the content */
#postIntroFirst h1, #postIntroLast h2 {
    border-bottom: solid 1px #716fc1;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

/* small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* For smaller screens give the list a little more width to take up more space */
    #popularPostsList {
        width: 87%;
    }

    /* APply a larger size to these list items for visual aid */
    #popularPostsList li a, #popularPostsList li{
        font-size: 4vw;
    }

    /* Ensure posts intro displays in a column format for smaller screens */
    #postsIntro {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Force posts intro to take up almost all screen space */
    #postsIntro > * {
        width: 90%;
    }
}

/* large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* Force the popular list to display in a column format with separation from the main image */
    #postIntroLast {
        align-items: center;
        padding-left: 70px;
        justify-content: center;
    }

    /* For larger devices ensure the posts intro is in a row format */
    #postsIntro {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    /* Ensure the intro div's have a 60 40 split in width for visual spacing */
    #postIntroFirst {
        width: 60%;
    }

    #postIntroLast {
        width: 40%;
    }
}

/* ==========================================================================
report.html styling
========================================================================== */
/**
 * Section is sorted alphabetically, with two media queries at the end to handle responsive design
 * of web page. 
 */

.desktopWireframe {
    object-fit: contain;
    width: 300px;
    height: auto;
}

.mobileWireframe {
    object-fit: contain;
    width: 150px;
    height: auto;
}

/* Simple styling to ensure the report articles are readable and there is visual separation between the text elements */
.reportArticle {
    margin: 30px 0px;
    padding-left: 40px;
}

.reportArticle > *{
    margin: 10px 0px;
}

.reportArticle ul li {
    margin: 20px 0px;
}

.reportArticle h3, .reportArticle h4 {
    text-align: center;
}

/* Give the report links a little more visual separation to help show they can be clicked */
.reportArticle ul li a {
    color: #716fc1;
}

.reportArticle ul li a:hover {
    color: #c0c16f;
    text-decoration: underline;
}

/* Ensure any report images are centered and there is sufficient space between them */
.reportImageContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.reportImageContainer > * {
   margin: 20px;
}

.wireframeContainer {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
}

.wireframeContainer > * {
    margin: 10px;
}

.wireframeScene {
    display: flex;
    justify-content: space-between;
}

.wireframeScene > * {
    margin: 20px;
}

/* ==========================================================================
thich-nhat-hanh.html styling
========================================================================== */
/**
 * Section is sorted alphabetically, with two media queries at the end to handle responsive design
 * of web page. 
 */

 /* Create circle shape to add visual dissonance to divider div ALso provide animations to help it slide into the screen */
.circle {
    background-color: #FFF;
    border-radius: 50%;
    height: 0px;
    opacity: 0;
    position: absolute;
    transition: opacity .5s, height 1s, width 1s;
    width: 0px;
}

/* Update opacity to divider elements when show class is applied */
.show .divider .verticalLine, .show .divider .horizontalLine, .show .divider .verticalLine .circle {
    opacity: 1;
}

/* When the yearInfo is show ensure it goes to it's base position */
.show .yearInfo {
    opacity: 1;
    transform: translateX(0px);
}

/* 
* Ensure timeline container shows the child elements correctly. 
* Also give it a faint background color to help provide contrast for writing over background image 
*/
.timeline {
    align-items: center;
    background-color: #706fc17b;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}

/* Ensure timeline articles are invisible by default */
.timelineArticle {
    visibility: hidden;
}

.timeline h2 {
    font-weight: 200;
}

/* Ensure body correctly fits screen with z-index image */
#timelineBody {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100%;
}

/* Style for timeline image to ensure it stays behind all other objects */
#timelineImage {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Change background color to help provide contrast for writing in these containers */
#timelineHeader, #timelineFooter, #timelineIntro {
    background-color: #706fc17b;
    color: #FFF;
}

/* Give the year h3 a transition animation speed for it's font-size */
.year h3 {
    transition: font-size 1s;
}

.yearInfo > * {
    padding: 10px 0px;
}

/* small device media query
========================================================================== */
@media only screen and (max-width: 769px) {
    /* For smaller devices make the divider height oriented as opposed to width oriented */
    .divider {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 20%;
        width: 100%;
    }

    /* 
    * Create horizontal line style to create separation between year and yearInfo 
    * Also give it some animation to help it appear fluidly 
    */
    .horizontalLine {
        align-items: center;
        background-color: #FFF;
        display: flex;
        height: 2px;
        justify-content: center;
        opacity: 0;
        position: relative;
        transition: opacity 1s;
        min-width: 100%;
        z-index: 0;
    }

    /* Use show class to help style elements as they appear on the screen */ 
    .show .divider .verticalLine .circle {
        height: 20px;
        width: 20px;
    }

    .show .year h3 {
        font-size: 10vw;
    }

    .show .yearInfo {
        opacity: 1;
        transform: translateY(0px);
    }

    /* Give the timeline container some padding to help ensure the children display correctly */
    .timeline {
        padding: 10px 50px;
    }

    /* Give the articles a column appearance on smaller devices */
    .timelineArticle {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .timelineArticle > * {
        margin: 10px;
    }

    /* Change the year pop-in to be centered on smaller devices */
    .year {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 20%;
        width: 100%;
    }

    /* Position yearInfo below to transition to correct spot when intersecting with viewport */
    .yearInfo {
        height: 60%;
        opacity: 0;
        text-align: center;
        transform: translateY(200px);
        transition: transform 1s, opacity 1s;
        width: 100%;
    }

    .yearInfo h4 {
        font-size: 7vw;
    }
}

/* large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    /* For larger screens use divider to separate on a width basis */
    .divider {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100%;
        width: 20%;
    }

    /* Use show class to help animate and hide timeline elements s they come into the screen */
    .show .divider .verticalLine .circle {
        height: 35px;
        width: 35px;
    }

    .show .year h3 {
        font-size: 5vw;
    }

    .show .yearInfo {
        opacity: 1;
        transform: translateX(0px);
    }

    .timeline {
        padding: 20px 100px;
    }

    /* Show the article in a row format for better reading on larger devices */
    .timelineArticle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .timelineArticle > * {
        margin: 20px;
    }

    /* Create vertical line to create separation between year and yearInfo */
    .verticalLine {
        align-items: center;
        background-color: #FFF;
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        position: relative;
        transition: opacity 1s;
        width: 2px;
        z-index: 0;
    }

    /* Force the year to be right align within it's box */
    .year {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        min-height: 100%;
        width: 20%;
    }

    /* Ensure yearInfo slides in from right of screen as it grows larger */
    .yearInfo {
        opacity: 0;
        transform: translateX(300px);
        transition: transform 1s, opacity 1s;
        width: 60%;
    }

    .yearInfo h4 {
        font-size: 4vw;
    }
}

/* Put at end to ensure show class is applied to elements This class appears when intersection observer shows the element as on the screen*/
.show {
    visibility: visible;
}

/* ==========================================================================
tools.html styling
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Give the buttons on the timer form a little more space and a standard width to help visually separate them */
.bottomButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 75%;
}

.bottomButtons > * {
    width: 40%;
}

/* Add some simple styles to help separate the time settings */
.meditationLowerSetting {
    align-items: space-between;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 75%;
}

.meditationLowerSetting > * {
    width: 50%;
}

/* Ensure the whole form displays in a column format and takes up it's container */
#meditationForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Ensure the circle encasing the timer has a see through center */
#toolArticle1 {
    fill: none;
    stroke: none;
}

/* Set container to be next position for display to reference */
#meditationTimerContainer {
    position: relative;
}

/* Force the timer to be centered within the svg circle */
#meditationTimerDisplay {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Draw a circle around the timer */
#meditationTimerOutline {
    stroke-width: 7px;
    stroke: #716fc1;
}

/* Ensure circle takes up whole container */
#toolArticle1 svg {
    height: 100%;
    width: 100%;
}

#meditationToolContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ensure any radio's with images as the label have a pointer mouse when hovered */
.radioImage:hover {
    cursor: pointer;
}

/*Ensure the scene form displays in a column manner and takes up all available space */
#sceneForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Apply a standard width to each scene option */
.sceneOption {
    margin: 10px;
    width: 25%;
}

.sceneOption img {
    margin-bottom: 20px;
    width: 100%;
}

/* Style the scene options to display in a row fashion */
#sceneOptions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#sceneSoundContainer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

#sceneSoundContainer > * {
    width: 45%;
}

/* Container for the sound options to display them in a row fashion */
#soundType {
    align-items: center;
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

/* Ensure items take up correct spacing for sound type children */
#soundType > * {
    height: 100%;
    margin: 0px 10px;
    width: 33%;
}

#soundType img {
    height: 100%;
    width: 100%;
}

#soundType label {
    margin-bottom: 10px;
}

/* Create card like look to be applied to all items of the tool class */
.tool {
    background-color: #e2e2ef;
    border: 1px solid #716fc1;
    box-shadow: 5px 5px 5px #716fc1;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 20px;
    width: 80%;
}

#toolsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Give the tool title a bottom border and ensure it is center aligned */
.toolTitle {
    align-items: center;
    border-bottom: solid #716fc1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

/* tools.html | small device media query
========================================================================== */

@media only screen and (max-width: 769px) {
    /* Ensure timer displays properly and never overflows */
    #meditationTimerContainer {
        height: 330px;
        width: 100%
    }

    #meditationToolContainer {
        flex-direction: column;
    }

    #meditationToolContainer > * {
        margin: 10px 0px;
        width: 100%;
    }

    /* Up the output time size to help with separation */
    #outputTime {
        font-size: 5vw;
    }
    
    #sceneSoundContainer > * {
        width: 50%;
    }
}

/* tools.html | large device media query
========================================================================== */
@media only screen and (min-width: 770px) {
    #meditationSettings {
        width: 100%;
    }

    #meditationToolContainer > * {
        padding: 0px 10px;
        width: 100%;
    }

    /* Up the output time sizing to ensure visual separation */
    #outputTime {
        font-size: 2vw;
    }

    .sceneOption {
        margin: 20px;
    }
}

/* ==========================================================================
under-construction.html styling
========================================================================== */
/**
* Section is sorted alphabetically, with two media queries at the end to handle responsive design
* of web page. 
*/

/* Apply simple styles to construction container */
#constructionContainer {
    width: 100%;
}

#constructionContainer p {
    text-align: center;
}

/* APply a slight shadow under the image for some added weight */
#constructionImage {
    border-radius: 100px;
    box-shadow: 5px 5px 5px #4240b930;
    width: 100%;
}

/* Ensure home link has visual distinction */
#linkHome {
    color: #c0c16f;
}

#linkHome:hover {
    color: #716fc1;
    text-decoration: underline;
}