/*
 * The CSS is sorted in the following manner
 * 
 * element selectors
 * general class selectors
 * general id selectors
 * index.html styling
 * books.html styling
 * games.html styling
 * movies.html styling
 * tv.html styling
 * media queries (Please note these are also structured following this outline)
 */

 /* ==========================================================================
   element selectors
   ========================================================================== */

 * {
    box-sizing: border-box;
    color: #fff;
    margin: 0px;
    padding: 0px;
 }

 a {
    text-decoration: none;
 }

body {
    background-color: black;
}

footer > * {
    margin: 20px 0px;
}

footer > a {
    margin-top: 0px;
}

footer > p {
    color: #e0dc19;
    margin-bottom: 0px;
}

footer, header {
    background-color: #363506;
    width: 100%;
}

/*
* TODO: Make header fixed when wireframes are complete
*/
header {
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}

hr {
    color: #8b8810;
    margin: 0px;
    width: 100%;
}

nav a {
    color: #e0dc19;
}

nav a:hover {
    color: #8b8810;
}

/* ==========================================================================
   general class selectors
   ========================================================================== */

.flexColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexRow {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerImage {
    height: 30px;
    width: 30px;
}

/* ==========================================================================
   general id selectors
   ========================================================================== */

#footerLogo {
    height: 120px;
    width: 120px;
}

#footerNav {
    width: 100%;
}

#headerLogo {
    height: 60px;
    width: 60px;
}

img {
    object-fit: cover;
}

/* ==========================================================================
   index.html styling
   ========================================================================== */

#pageBanner {
    background-image: url(".././images/movie-banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}

#pageBannerText {
    background-color: rgba(0, 0, 0, 0.732);
    border-radius: 75px;
    padding: 20px;
    text-align: center;
}

.rotateLinks a{
    margin: 0px 10px;
}

.rotateLinks img{
    border-radius: 20px;
    opacity: .5;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* Devices smaller than 770px
   ========================================================================== */

@media only screen and (max-width: 769px) {

    /*  ==========================================================================
        sd element selectors
        ========================================================================== */

    /* Set default font size to be 3vw when small media query is in place */    
    * {
        font-size: 3vw;
    }

    footer{
        padding: 10px 20px;
    }

    h1 {
        font-size: 6vw;
    }

    /*  ==========================================================================
        sd class selectors
        ========================================================================== */

    /* Ensure any items with class large are not displayed */
    .large {
        display: none;
    }

    .rotateLinks {
        height: fit-content;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
    }

    .rotateLinks img {
        width: 50%;
        height: auto;
    }

    .standardPadding {
        padding: 20px 20px;
    }

    /*  ==========================================================================
        ld id selectors
        ========================================================================== */

    #pageBanner {
        height: 250px;
        align-items: flex-end;
        padding: 10px 20px;
    }

    #pageBannerText {
        width: 100%;
    }
}

/* Devices larger than 770px
   ========================================================================== */

@media only screen and (min-width: 770px) {

    /*  ==========================================================================
        ld element selectors
        ========================================================================== */

    /* Set default font size to be 1.5vw when large media query is in place */
    * {
        font-size: 1.5vw;
    }

    footer{
        padding: 20px 100px;
    }

    h1 {
        font-size: 4vw;
    }

    /*  ==========================================================================
        ld class selectors
        ========================================================================== */

    .rotateLinks {
        display: flex;
        justify-content: space-between;
    }
    .rotateLinks img {
        max-height: 100%;
        max-width: 100%;
    }
    /* TODO How to make hover nice when leaving object? */
    .rotateLinks img:hover {
        box-shadow: 0px 15px 5px #363506;
        opacity: 1;
        transform: translateY(-10px);
        transition: transform 250ms;
    }
    /* Ensure any items with class small are not displayed */
    .small {
        display: none;
    }

    .standardPadding {
        padding: 20px 100px;
    }

    /*  ==========================================================================
        ld id selectors
        ========================================================================== */

    #headerNav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    #pageBanner {
        align-items: flex-end;
        height: 500px;
        justify-content: flex-start;
        padding: 20px 100px;
    }

    #pageBannerText {
        width: 50%;
    }
}

/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/**
 * Short description using Doxygen-style comment format
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */

/* Basic comment */

/* ==========================================================================
   CSS sorting information
   ========================================================================== */